/*
body{
    background-image: linear-gradient(to right,white, rgba(69, 226, 140, 0.699));
}
*/
body::-webkit-scrollbar{
    display: none;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
.hide-scrollbar
{
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
*{
    color: purple;
}
div.header {
    margin: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 3px;
    border-left: 1px solid purple;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-right: 1px solid purple;
    border-bottom: 2px solid purple;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

div.header a{
    text-decoration: none;
    color: purple;
}

div.navi{
    width: 100%;
    margin: auto;
    font-size: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: 1px solid purple;
    border-right: 1px solid purple;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom: 2px solid purple;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
div.navi a{
    text-decoration: none;
    color: purple;
    margin-left: 20px;
}
/* Scroller */
.Scroller{
    margin-top: 2px;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid purple;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}
.ScrollC {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    animation: scroll-left 5s linear infinite;
 }
 .ScrollC img {
  width: 110px;
  padding: 5px;
  opacity: 100%;
  border: 1px solid whitesmoke;
  border-radius: 2%;
}

    @keyframes scroll-left {
     0%   { 
     transform: translateX(90%); 		
     }
     100% { 
     transform: translateX(-50%); 
     }
    }

.Scroller img {
    width: 60px;height: 50px;
    padding: 5px;
}
div.main{
    margin: 3px;
    width: 100%;
}
.intro{
    display: flex;
   
}
.main a{
    text-decoration: none;
}
.main li{
    line-height: 1.5;
}
.content{
    text-align: center;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}
.pics{
    width: 30%;
    border: 2px solid rgb(206, 199, 199);
    border-radius: 5%;
    margin: 5px;
}
.pics img{
    width: 100%;
}
.footer{
    display: flex;
    flex-wrap: wrap;  
}
.foot{
    margin: 1px;
    width: 24%;
    text-align: center;
    padding-top: 20px;
}
.foot label{
    text-decoration: underline;
}
.imgflex{
    display: flex;
    margin-left: 10px;
}
.footimg img{
    width: 25%;
    height: 25%;

}
#lines {
    border-right: 1px solid  rgb(218, 218, 218);
}
