/*
body{
    animation: bg 25s linear infinite;
}

    @keyframes bg {
        0%{
            background-image: linear-gradient(to left,rgb(240, 211, 211), rgba(95, 253, 3, 0.699));
         }
        25%{
            background-image: linear-gradient(to left,rgb(250, 20, 20), rgb(240, 211, 211));
        }
        50%{
            background-image: linear-gradient(to left,rgb(250, 28, 157), rgb(250, 20, 20));
        }
        70%{
            background-image: linear-gradient(to left,rgb(54, 159, 219), rgb(231, 235, 21));
        }
        100%{
            background-image: linear-gradient(to left,rgba(95, 253, 3, 0.699), rgb(54, 159, 219));
        }
    }
*/

body::-webkit-scrollbar{
    display: none;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
.hide-scrollbar
{
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
*{
    color: purple;
}
div.header {
    margin: auto;
    width: 50%;
    text-align: center;
    align-items: center;
    padding-bottom: 3px;
    border-left: 1px solid purple;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-right: 1px solid purple;
    border-bottom: 2px solid purple;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

div.header a{
    width: 50%;
    text-decoration: none;
    color: purple;
}

div.navi{
    width: 50%;
    margin: auto;
    font-size: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: 1px solid purple;
    border-right: 1px solid purple;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom: 2px solid purple;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
div.navi a{
    text-decoration: none;
    color: purple;
    margin-left: 20px;
}
/* Scroller */
.Scroller{left: 25%;
    width: 50%;
    margin-top: 2px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid purple;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}
.ScrollC {
    display: flex;
    position: relative;
    width: 75%;
    height: 100%;
    margin: 0;
    text-align: center;
    animation: scroll-left 5s linear infinite;
 }
 .ScrollC img {
  width: 110px;
  padding: 5px;
  opacity: 100%;
  border: 0px solid whitesmoke;
  border-radius: 2%;
}

    @keyframes scroll-left {
     0%   { 
     transform: translateX(83%); 		
     }
     100% { 
     transform: translateX(33%); 
     }
    }

.Scroller img {
    width: 60px;height: 50px;
    padding: 5px;
}


div.main{
    padding: 7px;
    margin: auto; 
    flex-wrap: wrap;
    width: 50%;
    height:100vh;
    align-content: center;
    
}

.item {
    left: 6%;
    width: 80%;
    border: 1px solid rgb(240, 104, 240);
    border-radius: 5%;
    height:4rem;
    text-align: center;
    position: relative;
    margin: 1rem;
}


/* #content{
    margin: 3px;
   line-height: 1.5;
   border-radius: 5%;;
   text-align: center;
} */
.footer{
    margin: auto;
    position: relative;
    align-items: center;
    width: 50%;
    display: flex;
    flex-wrap: wrap;  
}
.foot{
    margin: 1px;
    width: auto;
    text-align: center;
    padding-top: 20px;
    align-content: center;
    justify-content: center;
}
.foot label{
    text-decoration: underline;
}
.imgflex{
    display: flex;
    margin-left: 0;
}
.footimg img{
    width: 25%;
    height: 25%;

}
#lines {
    border-right: 1px solid  rgb(218, 218, 218);
}

.mySlides{
    border-radius: 0%;
}